* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box; 
}

body {
    background-color: #303030;
    margin: 0px;
    padding: 0px;
}

.navbar {
    background-color: rgba(0, 0, 0, 0.425);
    justify-content: space-around;
}

.carousel-item {
    height: 80vh;
    min-height: 300px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    background-size: cover;
}

.blog {
    background-color: #303030;
    font-family: poppins, Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px;
    border-bottom: 1px solid black;
}

.blog a {
    text-decoration: none;
}

.blog ul {
    list-style: none;
}

.blog_heading {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.blog_heading span {
    color: red;
}

.blog_heading h3 {
    font-size: 2.4rem;
    color: white;
    font-weight: 600;
}

.blog_container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
    /*flex-wrap: wrap;*/
}

.blog_box {
    width: 350px;
    background-color: white;
    border: 1px solid #ececec;
    margin: 20px;
}

.blog_img {
    width: 100%;
    height: auto;
}

.blog_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.blog_text {
    padding: 30px;
    display: flex;
    flex-direction: column;
}

.blog_text span {
    color: red;
    font-size: 0.9rem;
}

.blog_text .blog_title {
    font-size: 1.3rem;
    font-weight: 500;
    color: #303030; 
}

.blog_text .blog_title:hover {
    color: red;
    transition: all ease 0.3s;
}

.blog_text p {
    color: #9b9b9b;
    font-size: 0.9rem;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 20px 0px;
}

.blog_text a {
    color: black;
}

.blog_text a:hover {
    color: red;
    transition: all ease 0.3s; 
}

@media(max-width:1250px) {
    .blog_box {
        width: 300px;
    }
}

@media(max-width:1100px) {
    .blog_box {
        width: 70%;
    }
}