/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box; 
}

body {
    background-color: #303030;
    margin: 0px;
    padding: 0px;
}

section {
    background-color: #303030;
}

/* NavBar */

.navbar {
    background-color: rgba(0, 0, 0, 0.425);
    backdrop-filter: blur(5px);
    color: white;
    justify-content: space-around;
}

.navbar-light {
    background-color: rgba(0, 0, 0, 0.425);
}

.navbar .navbar-nav li a {
    color: white !important;
}

.navbar .navbar-brand {
    color: white !important;
}

.nav-item {
    text-transform: uppercase ;
}

.navbar-brand {
    color: red;
}

.navbar-collapse {
    justify-content: center !important;
    
}

/* Main */

main {
    background-color: #303030;
}

/* Carousel */

.carousel-indicators {
    background-color: red;
}

.carousel-item {
    height: 80vh;
    min-height: 300px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    background-size: cover;
}

.carousel-caption h5 {
    color: red;
    font-family: 'Bebas Neue';
    font-size: 35px;
}

.carousel-caption p {
    padding-bottom: 70px;
}

.d-md-block {
    background-color: rgba(0, 0, 0, 0.425);
    backdrop-filter: blur(5px);
    border-radius: 5px;
}

/* Blog */

.blog_container {
    background-color: #303030;
    max-width: 1000px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
    justify-content: center;
    margin: auto;
    padding: 20px;
}

.polaroid {
    background-color: black;
    padding: 15px 15px 40px;
    color: white;
}

.polaroid h2 {
    color: red;
    font-size: 25px;
}

.photo {
    width: 100%;
    height: 290px;
    object-fit: cover;
}
<<<<<<< HEAD:style/style.css

.blog_container {
    background-color: #303030;
    max-width: 1000px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
    justify-content: center;
    margin: auto;
    padding: 20px;
}

/* Conteudo.html */

.main {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: auto 70vh 10vh;
    grid-template-areas: "header header"
                         "conteudo sidebar"
                         "footer footer";
}

.main header {
    grid-area: header;
    background-color: chocolate;
}

.main .conteudo {
    grid-area: conteudo;
    background-color: cyan;
}

.main .side-bar {
    grid-area: sidebar;
    background-color: darkmagenta;
}

.main footer {
    grid-area: footer;
    background-color: darkred;
}

/* NavBar */

.main nav a {
    text-decoration: none;
}


.main nav {
    list-style: none;
    text-decoration: none;
    height: 80px;
    width: 100%;
    background-color: royalblue;
}
=======
>>>>>>> ad06522493c637ced9e5e768d65b190c0a3bf785:src/style/style.css
