// Fontes
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

$fonte-principal: 'Bebas Neue', sans-serif;
$fonte-conteudo: 'Roboto', sans-serif;

// Cores 
$cinza: #303030;
$vermelho: red;

// CSS  
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box; 
}

body {
    background-color: #303030;
    margin: 0px;
    padding: 0px;
}

main {
    background-color: #303030;
}

section {
    background-color: #303030;
}

// NavBar Bootstrap
.navbar {
    background-color: rgba(0, 0, 0, 0.425);
    backdrop-filter: blur(5px);
    color: white;
    justify-content: space-around;
}

.navbar-light {
    background-color: rgba(0, 0, 0, 0.425);
}

.navbar .navbar-nav li a {
    color: white !important;
}

.navbar .navbar-brand {
    color: white !important;
}

.navbar .navbar-brand span {
    color: red !important;
    font-weight: bold;
}

.nav-item {
    text-transform: uppercase ;
}

.navbar-brand {
    color: red;
}

.navbar-collapse {
    justify-content: center !important;
    color: red !important;
}

.nav-item {
    transition: 1s;
}
.nav-item:hover {
    background-color: red;
    border-radius: 10px;
}

// Carousel Bootstrap

.carousel-item {
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    background-size: cover;
}

.carousel-caption h5 {
    color: red;
    font-family: 'Bebas Neue';
    font-size: 35px;
}

.carousel-caption p {
    padding-bottom: 70px;
}

.d-md-block {
    background-color: rgba(0, 0, 0, 0.425);
    backdrop-filter: blur(5px);
    border-radius: 5px;
    margin-bottom: 20%;
}

// Cards

.blog_container {
    background-color: #303030;
    max-width: 1000px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
    justify-content: center;
    margin: auto;
    padding: 20px;
}

.polaroid {
    background-color: black;
    padding: 15px 15px 40px;
    color: white;
    margin-bottom: 10px;
    border-radius: 5px;
    overflow: hidden;
}

.polaroid-card {
    overflow: hidden;
}

.polaroid-content {
    overflow: hidden;
}

.polaroid h2 {
    color: red;
    font-size: 25px;
    font-family: 'Bebas Neue', cursive; 
    padding-top: 5px;
}

.polaroid p {
    font-family: $fonte-conteudo;
}

.photo {
    width: 100%;
    height: 290px;
    object-fit: cover;
    transition: 0.5s;
    cursor: pointer;
    overflow: hidden;
    margin-bottom: 10px;
}

.photo:hover {
    transform: scale(1.5);
    transition: 1.5s;
}

.blog_container {
    background-color: #303030;
    max-width: 1000px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
    justify-content: center;
    margin: auto;
    padding: 20px;
}

// Pag Conteudo.html

.main {
    display: grid;
    grid-template-columns: 2fr 50vh;
    grid-template-rows: auto auto 10vh;
    grid-template-areas: "header header"
                         "conteudo sidebar"
                         "footer footer";
}

.main img {
    max-width: 100%;
    display: block;
}

.main header {
    grid-area: header;
}

// Conteudo

.main .conteudo {
    grid-area: conteudo;
    background-color: $cinza;
    text-align: justify;
    padding: 60px 20vh 20px 20vh;
}

.main .conteudo h1 {
    font-family: 'Bebas Neue', cursive; 
    font-size: 2.5em;
    color: red; 
    margin: 0;
}

.main .conteudo h2 {
    font-size: 1.3em;
    color: silver;
}

.main .conteudo p {
    color: rgb(255, 255, 255);
    font-family: 'Roboto';
    font-size: 1.1em;
}

.main .conteudo strong {
    color: red;
    font-family: $fonte-conteudo;
    font-weight: 700;
}

.main .conteudo img {
    background-color: black;
    border-radius: 10px;
    margin-bottom: 15px;
    width: 100%;
}

.main .conteudo #h2-relacionado {
    text-align: center;
    padding-top: 10px;
    font-family: $fonte-principal;
    font-weight: 400;
    font-size: 2em;
    color: red;

}

// sideBar

.main .side-bar {
    grid-area: sidebar;
    background-color: #303030;  
    padding: 60px 32px 0 0;
}

.main footer {
    grid-area: footer;
    background-color: darkred;
}

// media 

@media (max-width: 820px) {
    .main {
        display: flex;
        flex-direction: column;
        padding: 0 10px 0 10px;
    }

    .main .side-bar {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        padding: 0 10px 0 10px;
        
    }

    .main .conteudo {
        padding: 80px 10px 20px 10px;
        font-size: 1.6em;
    }

    .main .conteudo h2 {
        padding-bottom: 15px;
    }

    .carousel-item {
        height: auto;
    }

    .navbar .navbar-brand {
        color: white !important;
        font-size: 2em;
    }
}

@media (max-width: 600px) {

    .navbar .navbar-brand {
        font-size: 1.2em;
        padding-left: 10px;
    }

    .main .conteudo h1 {
        font-size: 30px;
    }

    .main .conteudo h2 {
        font-size: 20px;
    }

    .main .conteudo p {
        font-size: 20px;
    }

    .main .side-bar {
        grid-template-columns: 1fr;
    }

    .polaroid {
        font-size: 1.5em;
    }

    .polaroid h2 {
        font-size: 25px;
        font-weight: bold;
    }

    .polaroid p {
        font-size: 20px;
    }
}
    
// CADASTRO.HTML

.login-container {
    display: flex;
    padding: 80px 60px;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #303030;
    height: 100vh;
}

.article-content {
    background-color: red;
    border-radius: 5px 0 0 5px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 10vh;

    img {
        height: 40px;
        margin-bottom: 9vh;
    }
}       

.article-content div {
    padding-bottom: 45px;
}

.article-content h2 {
    font-family: $fonte-principal;
   
}

.article-content p {
    font-family: $fonte-conteudo;
    margin: 0;
    font-size: 16px;
    text-align: center;
}

.article-content .btn-logar {
    border: 2px solid black;
    border-radius: 20px;
    background-color: transparent;
    padding-top: 5px;
    margin: 0px 20px;
    font-family: $fonte-principal;
    font-size: 1.2em;
}

// Login
.article-login {    
    background-color: white;
    border-radius: 0 5px 5px 0;
    display: flex;
    flex-direction: column; 
    padding: 10vh;
}

.article-login .social {
    display: flex;
    align-items: center;
    justify-content: center;

    img {
        width: 25px;
        margin: 5px 10px 10px 5px;
    }
}

.article-login h2 {
    font-family: $fonte-principal;
    text-align: center;
}   

.article-login p {
    font-family: $fonte-conteudo;
    color: #b5bbbd;
}

.article-login form {
    display: flex;
    flex-direction: column; 
}

.article-login form > input {
    margin-bottom: 10px;
    border: none;
    background-color: #b5bbbd;
    border-radius: 5px;
    padding: 2px;
    text-decoration: none;
    font-family: $fonte-conteudo;
}

.article-login form > input:hover {
    background-color: #b5bbbda4;
}

.article-login button {
    border: none;
    border-radius: 20px;
    background-color: red;
    padding-top: 5px;
    font-family: $fonte-principal;
    font-size: 1.2em;
    border: 2px solid black;
    margin: 0px 20px;
}

.article-login button:hover {
    background-color: rgba(255, 0, 0, 0.685);
}

@media (max-width: 820px) {
    .article-content {
        width: 100vw;
        align-items: center;
        border-radius: 10px 10px 0 0;
    }

    .article-content .btn-logar {
        width: 200px;
    }

    .article-content h2 {
        text-align: center;
    }
    

    .article-login {
        width: 100vw;
        border-radius: 0 0 10px 10px;
    }
}

@media (max-width: 600px) {

    .login-container {
        padding: 0px;
    }

    .article-content .btn-logar {
        letter-spacing: 2px;
    }

    .article-login {
        width: 100vw;

        button {
            letter-spacing: 2px ;
        }
    }
}